<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.pojo.User">
    <id column="uid" jdbcType="INTEGER" property="uid" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="phone" jdbcType="INTEGER" property="phone" />
    <result column="lastLoginTime" jdbcType="VARCHAR" property="last_login_time" />
  </resultMap>
  <sql id="Base_Column_List">
    uid, account, password, phone,last_login_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_user
    where uid = #{uid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbl_user
    where uid = #{uid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pojo.User">
    insert into tbl_user (uid, account, password, 
      phone)
    values (#{uid,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{phone,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.User">
    insert into tbl_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="phone != null">
        phone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=INTEGER},
      </if>
        <if test="last_login_time != null">
          #{last_login_time ,jdbcType=VARCHAR}
        </if>
    </trim>
  </insert>
  <insert id="insertUser">
    insert into tbl_user(account,password,phone) values (#{name},#{pwd},#{phone})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.User">
    update tbl_user
    <set>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=INTEGER},
      </if>
      <if test="lastLoginTime != null">
        last_login_time = #{lastLoginTime,jdbcType=VARCHAR},
      </if>
    </set>
    where uid = #{uid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.User">
    update tbl_user
    set account = #{account,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=INTEGER}
    where uid = #{uid,jdbcType=INTEGER}
  </update>

  <select id="selectByAccountIsExist" resultType="com.pojo.User">
    select <include refid="Base_Column_List"></include>
    from tbl_user
    where account=#{name} and password=#{pwd}
  </select>
  <select id="selectByAccount" resultType="com.pojo.User" parameterType="java.lang.String">
    select <include refid="Base_Column_List"></include>
    from  tbl_user
    where account=#{name}
  </select>


</mapper>